h1 {
	text-align: center;
}

body {
	
	background-color: white;
}

ul {
	margin: 0;
	padding-left: 40px;
	text-align: center;

}

.about {
	padding: 30px;
}

p {
	padding: 10px;

	font-size: 20px;
	text-align: justify;
}

.jumbotron {
	background-image: url('tuftsphoto.jpg');
  	height: 550px;
  	background-repeat: no-repeat;
  	background-size: contain;
}
.pictures{
	width: 10px;
	height: 10px;
}
.testimonials{
	padding: 10px;

}