h1 {
	text-align: center;
}

body {
	margin: 20px;
}
head{
	padding: 10px;
	margin: 20px;
}
ul {
	margin: 0;
	padding-left: 40px;
	text-align: center;

}
.home{
	padding: 20px; 
	margin: 10px; 
	border: 1px solid #ccc;
	overflow: hidden; 
	border-radius: 20px;

}
.about {
	padding: 30px;
	background-image: url('whole_foods.jpg');
}

.intro_Video{
	padding: 10px; 
	margin: 0px; 
}

p {
	padding: 10px;

	font-size: 20px;
	text-align: justify;
}
.jumbotron {
	background-image: url('tuftsphoto.jpg');
  	height: 550px;
  	background-repeat: no-repeat;
  	background-size: contain;
}
.pictures{
	width: 10px;
	height: 10px;
}
.testimonials{
	padding: 10px;

}
.name{
	color: blue;
	font: 18;
}
