h1 {
	text-align: center;
}

body {
	margin: 20px;
	font-family: Lato, Arial, Helvetica, sans-serif;
	background-color: #428bca;
}

head{
	padding: 10px;
	margin: 20px;
}

.toolbar {
	position: fixed;
	padding: 0px;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: white;
	z-index: 11;
}

.carousel {

margin-top: 200px;
}

.container {
	position: relative;
	margin-top: 170px;
	max-width: 1200px;
	padding: 40px;
	background-color: rgb(255, 255, 255);
}

#toolbar ul, li {
	font-size: 24px;
}
ul {
	margin: 0;
	padding-left: 40px;
	text-align: center;

}
.home{
	padding: 20px; 
	margin: 10px; 
	border: 1px solid #ccc;
	overflow: hidden; 
	border-radius: 20px;

}
.about {
	padding: 30px;
	background-image: url('whole_foods.jpg');
}

.intro_Video{
	padding: 10px; 
	margin: 0px; 
}

.staff {
	padding: 30px;
}
p {
	padding: 10px;

	font-size: 20px;
	text-align: justify;
}
.jumbotron {
	background-image: url('tuftsphoto.jpg');
  	height: 550px;
  	background-repeat: no-repeat;
  	background-size: contain;
}
.pictures{
	width: 10px;
	height: 10px;
}
.testimonials{
	padding: 10px;

}
.name{
	color: blue;
	font: 18;
}
.contacts_text{
	padding-top: 20px;
}
.shanice{
	width: 350px;
	height: 400px;
}
.host_advisors{
	width: 400px;
	height: 300px;
}
.lauren{
	width: 300px;
	height: 350px;
}
